<div class="border bg-[#2b475a] rounded-xl mt-[38px] mb-3 p-3 flex flex-col">
  <!-- top -->
  <div class="flex justify-between items-center">
    <!-- Right -->
    <div class="w-[750px] flex flex-col">
      <div class="w-[104px] h-[30px]">
        <img src="../../../../assets/img/utravs-logo-footer.svg" alt="" />
      </div>
      <div class="text-white text-right mt-4 text-sm">
        <span>
          به «یوتراوز» خوش آمدید! ما توانسته‌ایم با ارائه یک سیستم یکپارچه‌ی
          آنلاین، امکان خرید بلیط هواپیما در کلیه مسیرهای داخلی و خارجی، خرید
          بلیط هواپیما چارتر و ارزان، خرید بلیط سیستمی، رزرو هتل، هتل آپارتمان و
          انواع اقامتگاه در تمام ایران، رزرو بلیط قطار و انواع خدمات سفر (تور
          داخلی و خارجی، خدمات ویزا و بیمه مسافرتی) را تنها با چند کلیک ساده
          برای شما فراهم کنیم. یوتراوز تحولی قابل‌‌توجه در صنعت سفر به وجود
          آورده است. به‌طوری‌که شما می‌توانید از هرکجای ایران در کمترین زمان، با
          آسان‌ترین روش و صرف کمترین هزینه به هر کجای دنیا که بخواهید سفر کنید.
          در همه‌ی لحظات سفر از 7 روز هفته گرفته تا 24 ساعت شبانه‌روز در کنارتان
          .
        </span>
      </div>
      <div class="flex gap-2 mt-3">
        <div class="border-l-4 border-indigo-500"></div>
        <div class="text-white text-sm flex flex-col text-right">
          <span>تلفن پشتیبانی: 154891001548 - 021</span>
          <span
            >تهران، محله فردوس، بزرگراه شهید سرلشکر ستاری، بلوار فردوس، پلاک
            440، ساختمان سینا، پلاک ثبتی 124-1688، طبقه دوم، واحد 6</span
          >
        </div>
      </div>
      <div class="flex mt-8 text-gray-600 gap-4 text-sm">
        <div class="flex gap-1">
          <span>تماس با ما</span>
          <span class="border-l-2 border-gray-600"></span>
        </div>
        <div class="flex gap-1">
          <span>درباره ما</span>
          <span class="border-l-2 border-gray-600"></span>
        </div>
        <div class="flex gap-1">
          <span>قوانین و مقررات</span>
          <span class="border-l-2 border-gray-600"></span>
        </div>
        700
        <div class="flex gap-1">
          <span>اپلیکیشن </span>
          <span class="border-l-2 border-gray-600"></span>
        </div>
        700
        <div class="flex gap-1">
          <span>راهنما و قوانین استرداد</span>
          <span class="border-l-2 border-gray-600"></span>
        </div>
        <div class="flex gap-1">
          <span>مجله گردشگری یومگ</span>
          <span class="border-l-2 border-gray-600"></span>
        </div>
      </div>
    </div>
    <!-- Lfte -->
    <div class="w-[240px] flex flex-col gap-3">
      <div class="flex justify-between">
        <div class="border bg-white rounded-xl">
          <img src="../../../../assets/img/namad-1.webp" alt="" />
        </div>
        <div class="border bg-white rounded-xl">
          <img src="../../../../assets/img/namad-2.webp" alt="" />
        </div>
        <div class="w-[64px] border bg-white rounded-xl">
          <img src="../../../../assets/img/logo.png" alt="" />
        </div>
      </div>
      <div class="flex justify-between">
        <div class="border bg-white rounded-xl">
          <img src="../../../../assets/img/namad-1.webp" alt="" />
        </div>
        <div class="border bg-white rounded-xl">
          <img src="../../../../assets/img/namad-2.webp" alt="" />
        </div>
        <div class="w-[64px] border bg-white rounded-xl">
          <img src="../../../../assets/img/logo.png" alt="" />
        </div>
      </div>
      <div class="flex justify-between">
        <div class="border bg-white rounded-xl">
          <img src="../../../../assets/img/namad-1.webp" alt="" />
        </div>
        <div class="border bg-white rounded-xl">
          <img src="../../../../assets/img/namad-2.webp" alt="" />
        </div>
        <div class="w-[64px] border bg-white rounded-xl">
          <img src="../../../../assets/img/logo.png" alt="" />
        </div>
      </div>
      <div class="flex justify-between">
        <i
          class="fa fa-twitter text-[#a4aeb5] border border-[#a4aeb5] rounded-lg p-1"
        ></i>
        <i
          class="fa fa-instagram border text-[#a4aeb5] border-[#a4aeb5] rounded-lg p-1"
        ></i>
        <i
          class="fa fa-twitter text-[#a4aeb5] border border-[#a4aeb5] rounded-lg p-1"
        ></i>
        <i
          class="fa fa-instagram text-[#a4aeb5] border border-[#a4aeb5] rounded-lg p-1"
        ></i>
      </div>
    </div>
  </div>

  <!-- down -->
  <div class="flex flex-col items-start">
    <div class="flex gap-48 text-sm mt-2 items-center">
      <span class="text-gray-600"
        >کلیه حقوق این سایت محفوظ و متعلق به شرکت خدمات مسافرتی آتیان سیر
        ایرانیان است. استفاده از مطالب</span
      >
      <span class="text-gray-600"
        >Copyright © 2019–2021 Utravs All rights reserved</span
      >
    </div>
  </div>
</div>
