<div class="mt-2">
  <!-- Refund guide -->
  <div class="flex items-center gap-1">
    <div class="flex gap-2 items-center">
      <i class="fa fa-times-circle text-gray-400 mt-[6px]"></i>
      <a class="text-sm text-[#6882ff]" href="">راهنمای استرداد</a>
    </div>
    <span class="text-sm">بلیط هواپیما </span>
  </div>
  <!-- serch_box -->
  <div class="">
    <div class="mt-2">
      <img
        class="rounded-xl h-[400px] w-[100%] object-cover"
        src="https://dl.utravs.com/images/hero/hotel.webp"
      />
    </div>
    <div class="relative">
      <div class="absolute bottom-[-40px] right-[25px]">
        <!-- texthotel -->
        <div class="">
          <span class="text-white font-semibold text-2xl">رزرو هتل</span>
        </div>
        <!-- textdescriptiontextserch -->
        <div class="flex gap-5 mt-3">
          <div
            class="text-white border gap-5 px-6 border-[#2b475a] p-2 rounded-r-lg bg-[#2b475a] flex items-center"
          >
            <span>پرواز</span>
            <i class="fa fa-plane mt-[7px]"></i>
          </div>
          <div
            class="text-white borde gap-5 r px-6 border-[#2b475a] p-2 rounded-r-lg bg-[#2b475a] flex items-center"
          >
            <span>قطار</span>
            <i class="fa fa-train"></i>
          </div>
          <a href="/hotel">
            <div
              class="borde gap-5 r px-6 border-white p-2 rounded-r-lg bg-white flex items-center"
            >
              <span>هتل</span>
              <i class="fa fa-hotel"></i>
            </div>
          </a>
        </div>
        <!-- box -->
        <div
          class="mt-3 border bg-white rounded-xl xl:w-[1090px] w-[100%] h-[100px] p-2"
        >
          <div class="w-[100%] flex items-center gap-2">
            <i class="fa fa-stop-circle text-[#2982ff] mt-[5px]"></i>
            <span class="text-[#2982ff]">هتل داخلی</span>
          </div>
          <div
            class="flex xl:flex-row flex-col mt-2 items-center justify-between px-1"
          >
            <div
              class="relative border bg-[#e6ebf1] rounded-xl p-1 flex items-center gap-2 xl:w-[420px] w-[100%] h-[45px]"
            >
              <i class="fa fa-map-marker text-gray-300"></i>
              <input
                (click)="ToogleText()"
                class="bg-[#e6ebf1] w-[100%]"
                type="text"
                placeholder="شهر یا هتل موردنظر خود راانتخاب کنید "
              />
              <div
                *ngIf="showText"
                class="absolute xl:w-[250px] w-[100%] h-[300px] border rounded-xl bg-white top-11 flex flex-col overflow-auto"
              >
                <div
                  class="flex items-center justify-between p-2"
                  *ngFor="let item of items"
                >
                  <!-- Right -->
                  <div class="flex items-center gap-2">
                    <i class="fa fa-map-marker text-green-500"></i>
                    <div class="flex flex-col text-right">
                      <span class="font-bold">{{ item.city }}</span>
                      <span class="text-xs">{{ item.place }}</span>
                    </div>
                  </div>
                  <!-- Left -->
                  <div class="text-xs flex">
                    <span>{{ item.descrition }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="border bg-[#e6ebf1] rounded-xl p-1 flex items-center xl:w-[420px] w-[100%] h-[45px] justify-center gap-10"
            >
              <div class="">
                <i class="fa fa-calendar-alt"></i>
                <span></span>
                <app-serch_Calendar></app-serch_Calendar>
              </div>
              <div class="">
                <span>تاریخ خروج</span>
              </div>
            </div>
            <div
              class="text-white font-bold p-1 rounded-xl border bg-[#ff6610] xl:w-[200px] w-[100%] h-[45px] flex items-center justify-center"
            >
              <button>جستجو</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
