<div class="px-3">
  <div class="flex justify-between items-center">
    <!-- Logonavbar -->
    <div class="w-[104px] h-[30px] mt-3 mb-3">
      <img src="./../../../assets/img/utravs-logo.svg" alt="" />
    </div>
    <!-- description_navbar -->
    <div class="flex gap-5 text-sm font-medium text-[#2b475a] mt-3 mb-3">
      <div class="xl:flex gap-2 hidden">
        <span> تماس با ما</span>
        <span class="border-l-2 border-gray-300"></span>
        <span>1548</span>
      </div>
      <div class="xl:flex gap-2 hidden">
        <span>پیگیری خرید</span>
      </div>
      <div class="flex gap-2">
        <span> ورود</span>
        <span class="border-l-2 border-gray-300"></span>
        <span>
          <app-Register></app-Register>
        </span>
      </div>
    </div>
  </div>
  <div class="border-b-2 border-gray-300"></div>
</div>
