<div class="mt-8 bg-white rounded-xl relative">
  <!-- interducing_app -->
  <div class="p-10">
    <div class="border bg-[#f5f6f7] w-[1080px] m-auto rounded-xl p-3 relative">
      <div class="flex items-center justify-between px-4">
        <!-- Right -->
        <div class="flex">
          <div class="flex flex-col">
            <div class="w-[140px] h-[135px]">
              <img src="../../../../assets/img/qrcode.svg" alt="" />
            </div>
            <div class="">
              <span class="text-gray-400">برای دانلود اسکن کنید</span>
            </div>
          </div>
          <div class="flex flex-col">
            <span class="text-xl font-semibold"
              >با اپلیکیشن یوتراوز، سفر یک قدم نزدیک‌تره</span
            >
            <div class="flex flex-col mt-3">
              <span class="">اطلاع از موجود شدن بلیط در زمان تکمیل ظرفیت</span>
              <span class="">قیمت مناسب تر، امکانات بیشتر</span>
              <span
                class="text-white bg-[#0075ff] p-2 w-[40%] flex pr-5 rounded-xl mt-2"
                >دریافت برنامه</span
              >
            </div>
          </div>
        </div>
        <!-- left -->
        <div class="left-[14px] bottom-[2px] absolute">
          <img
            class="w-[300px] h-[250px]"
            src="../../../../assets/img/mouckup-app-desk.webp"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- description_app -->
  <div class="flex items-center justify-between p-6">
    <div class="flex gap-2">
      <div class="w-[42.5px] h-[72px]">
        <img src="../../../../assets/img/fhotel-1.svg" alt="" />
      </div>
      <div class="flex flex-col">
        <span>پوشش بیش از 1200 هتل</span>
        <span class="text-gray-300 text-sm"
          >امکان رزرو آسان بهترین هتل های داخلی</span
        >
      </div>
    </div>
    <div class="flex gap-2">
      <div class="w-[42.5px] h-[72px]">
        <img src="../../../../assets/img/fhotel-2.svg" alt="" />
      </div>
      <div class="flex flex-col">
        <span> تضمین بهترین قیمت</span>
        <span class="text-gray-300 text-sm">رزرو هتل با بهترین قیمت</span>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="w-[42.5px] h-[72px]">
        <img src="../../../../assets/img/fhotel-3.svg" alt="" />
      </div>
      <div class="flex flex-col">
        <span>پشتیبانی 24 ساعته | تماس با 1548</span>
        <span class="text-gray-300 text-sm"
          >پشتیبانی رزرو هتل در تمام ایام هفته و در 24 ساعت شبانه‌روز</span
        >
      </div>
    </div>
  </div>
  <!-- image_app -->
  <div class="flex justify-between">
    <!-- Right -->
    <div class="flex gap-2">
      <div class="w-[277px] h-[384px]">
        <img src="../../../../assets/img/thumbnail_image_small-1.webp" alt="" />
      </div>
      <div class="w-[277px] h-[384px]">
        <img src="../../../../assets/img/thumbnail_image_small-2.webp" alt="" />
      </div>
    </div>
    <!-- Left -->
    <div class="flex">
      <div class="">
        <div class="w-[280px] h-[190px]">
          <img
            class="rounded-xl"
            src="../../../../assets/img/thumbnail_image_small-3.webp"
            alt=""
          />
        </div>
        <div class="w-[280px] h-[190px]">
          <img
            class="rounded-xl"
            src="../../../../assets/img/thumbnail_image_small-4.webp"
            alt=""
          />
        </div>
      </div>
      <div class="">
        <div class="w-[280px] h-[190px]">
          <img
            class="rounded-xl"
            src="../../../../assets/img/thumbnail_image_small-5.webp"
            alt=""
          />
        </div>
        <div class="w-[280px] h-[190px]">
          <img
            class="rounded-xl"
            src="../../../../assets/img/thumbnail_image_small-6.webp"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- swiper_brand_app -->
  <div class=""></div>
  <!-- Text_app -->
  <div class="flex p-3 gap-3">
    <div class="flex flex-col text-right w-[400px]">
      <span class="text-xl font-semibold">رزرو هتل در یوتراوز</span>
      <span class="text-sm"
        >یوتراوز یکی از بهترین و جامع‌ترین سایت‌های رزرو هتل است. با رزرو هتل در
        یوتراوز ضمن بهره‌مندی از مزایای ویژه‌ای که برای شما در نظر گرفته شده
        است، این امکان را دارید تا بلیط هواپیما</span
      >
      <button>
        <i class="fa fa-chevron-down text-blue-400"></i>
      </button>
    </div>
    <div class="flex flex-col text-right w-[400px]">
      <span class="text-xl font-semibold">رزرو هتل در یوتراوز</span>
      <span class="text-sm"
        >یوتراوز یکی از بهترین و جامع‌ترین سایت‌های رزرو هتل است. با رزرو هتل در
        یوتراوز ضمن بهره‌مندی از مزایای ویژه‌ای که برای شما در نظر گرفته شده
        است، این امکان را دارید تا بلیط هواپیما</span
      >
      <span *ngIf="showTextone"
        >قیمتی مناسب رزرو کنید. امکان رزرو هتل های داخلی در یوتراوز یکی از خدمات
        پررنگ و ویژه‌ای است که با یوتراوز برای شما به‌صرفه‌تر و ساده‌تر شده است.
        یکی از مزایای رزرو هتل در یوتراوز وجود اپلیکیشن جامع سفر است که در هر
        لحظه و زمانی که تمایل داشته باشید، می‌توانید به وسیله تلفن همراه خود هتل
        مورد نظرتان را رزرو کنید. پس از رزرو هتل در یوتراوز هم در صورت سوال یا
        راهنمایی می‌توانید با کارشناسان ما در یوتراوز به شماره (1548 ☎) تماس
        بگیرید و اطلاعات مدنظرتان را به صورت 24 ساعته در طول 7 روز هفته دریافت
        کنید.</span
      >
      <button (click)="ToogleTextone()">
        <i class="fa fa-chevron-down text-blue-400"></i>
      </button>
    </div>
    <div class="flex flex-col text-right w-[400px]">
      <span class="text-xl font-semibold">رزرو هتل در یوتراوز</span>
      <span class="text-sm"
        >یوتراوز یکی از بهترین و جامع‌ترین سایت‌های رزرو هتل است. با رزرو هتل در
        یوتراوز ضمن بهره‌مندی از مزایای ویژه‌ای که برای شما در نظر گرفته شده
        است، این امکان را دارید تا بلیط هواپیما</span
      >
      <button>
        <i class="fa fa-chevron-down text-blue-400"></i>
      </button>
    </div>
  </div>
  <!-- Textacardon_app -->
  <span class="flex mr-3 mb-3 text-xl font-semibold">سوالات متداول</span>
  <div class="w-[1120px] m-auto border rounded-xl">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            چطور در یوتراوز هتل رزرو کنم؟
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-right">
            برای رزرو هتل در یوتراوز تنها چند کلیک ساده نیاز است. آن هم انتخاب
            شهر یا هتل شهر مقصد به همراه تاریخ سفر است تا لیست هتل‌ها برای شما
            نمایش داده شود و هتل خود را رزرو کنید.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            چگونه از قیمت هتل‌ها مطلع شوم؟
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-right">
            برای اطلاع از قیمت‌ هتل‌ در یوتراوز، کافی‌ست بخش‌های مورد نیاز را پر
            کنید تا لیستی که حاوی قیمت‌‌ هتل‌های مختلف است را مشاهده کنید.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            چگونه درباره هتل و قوانین آن پیش از رزرو هتل اطلاعات کسب کنم؟
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-right">
            پس از درج اطلاعات مورد نیاز یوتراوز و انتخاب هتل مدنظر، می‌توانید
            کلیه اطلاعات، قوانین، تصاویر و جزئیات هتل را مشاهده کنید. با این
            وجود در صورت نیاز می‌توانید با پشتیبانی یوتراوز (1548 ☎) در تماس
            باشید.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Textabout_hotel_app -->
  <div class="">
    <div class="flex text-xl font-semibold text-[#2b475a] mt-10 px-3">
      <span>هتل های پرفروش</span>
    </div>
    <div class="flex justify-between p-2 items-center">
      <div class="flex gap-2 text-[#2b475a]">
        <div class="border-r-2 border-gray-400"></div>
        <div class="flex flex-col text-right">
          <span>هتل درویشی مشهد</span>
          <span>هتل قصر طلایی مشهد</span>
          <span>هتل الماس 2 مشهد</span>
          <span>هتل اسپیناس پالاس تهران</span>
        </div>
      </div>
      <div class="flex gap-2 text-[#2b475a]">
        <div class="border-r-2 border-gray-400"></div>
        <div class="flex flex-col text-right">
          <span>هتل درویشی مشهد</span>
          <span>هتل قصر طلایی مشهد</span>
          <span>هتل الماس 2 مشهد</span>
          <span>هتل اسپیناس پالاس تهران</span>
        </div>
      </div>
      <div class="flex gap-2 text-[#2b475a]">
        <div class="border-r-2 border-gray-400"></div>
        <div class="flex flex-col text-right">
          <span>هتل درویشی مشهد</span>
          <span>هتل قصر طلایی مشهد</span>
          <span>هتل الماس 2 مشهد</span>
          <span>هتل اسپیناس پالاس تهران</span>
        </div>
      </div>
      <div class="flex gap-2 text-[#2b475a]">
        <div class="border-r-2 border-gray-400"></div>
        <div class="flex flex-col text-right">
          <span>هتل درویشی مشهد</span>
          <span>هتل قصر طلایی مشهد</span>
          <span>هتل الماس 2 مشهد</span>
          <span>هتل اسپیناس پالاس تهران</span>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
