<div class="mt-4 flex items-center justify-between">
  <!-- Right -->
  <div class="flex gap-2">
    <div class="">
      <img
        class="h-[70px]"
        src="../../../../assets/img/instagram-logo.svg"
        alt=""
      />
    </div>
    <div class="flex flex-col text-right">
      <span class="text-xl font-semibold"
        >جذاب‌ترین تخفیف‌‌ها و مفیدترین مطالب گردشگری</span
      >
      <span class="">پیج اینستاگرام یوتراوز را دنبال کنید</span>
    </div>
  </div>
  <!-- Left -->
  <div class="absolute left-[185px]">
    <img
      class="h-[150px] w-[150px]"
      src="../../../../assets/img/instagram.webp"
      alt=""
    />
  </div>
</div>
